@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: IBM Plex Sans;
    padding: 30px;
}

.header{
    background-image:linear-gradient(to right bottom,rgba(0, 252, 252, 0.705), rgba(0, 31, 31, 0.705)) ,url('/img/desktop.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align:center;
}

.header-primary{
    color: #fff;
    margin-bottom: 60px;
}

.header-primary-main{
    display: block;
    line-height: 1.7;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 15px;
    animation-name: moveFromLeft;
    animation-duration: 3s;
    text-transform: uppercase;
}

.header-primary-sub{
    display: block;
    line-height: 1.7;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10px;
    animation-name: moveFromBottom;
    animation-duration: 3s;
    text-transform: uppercase;
}

@keyframes moveFromLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromBottom{
    0%{
        opacity:0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
}

.btn:active{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:hover{
    transform: translate(-1px);
    box-shadow: 0 20px 10px rgba(0,0,0,0.2);
}

.btn-white{
    background-color: white;
}


/* Section */

#about-us {
    display: flex;
    flex-wrap: wrap;
   
}

#about-us div{
    flex: 1;
}





/* .section > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(3, 100px);
    
} */

/* p class is part of div 1 */
